version: 3.0.{build}

pull_requests:
  do_not_increment_build_number: true

branches:
  only:
  - dev
  - v3.x/ps7

image:
- Ubuntu
- Visual Studio 2019

max_jobs: 1

configuration: Release

install:
  - pwsh: ./build.ps1 -NoBuild -Bootstrap

build_script:
  - pwsh: |
      $ErrorActionPreference = "Stop"
      ./build.ps1 -Clean -Configuration $env:CONFIGURATION

test_script:
  - pwsh: ./build.ps1 -NoBuild -Test
  - pwsh: ./test/E2E/Start-E2ETest.ps1
